$palette: (
    primary: (
        dark: #B36D10,
        main: #FF8717,
        light: #FF9F45
    ),
    secondary: (
        dark: #B28D10,
        main: #FFCA17,
        light: #FFD445
    ),
    background: (
        dark: #333333,
        main: #424242,
        light: #4F4F4F,
    ),
    text: (
        primary: #F2F2F2,
        secondary: #F2F2F2B3,
        disabled: #F2F2F280,
        hint: #F2F2F299,
    ),
    danger: (
        dark: #D32F2F,
        main: #F44336,
        light: #E57373,
    ),
    warning: (
        dark: #B26A00,
        main: #FF9800,
        light: #FFAC33,
    ),
    info: (
        dark: #1769AA,
        main: #2196F3,
        light: #4DABF5,
    ),
    success: (
        dark: #357A38,
        main: #4CAF50,
        light: #6FBF73,
    )
);

$border-radius: .375rem;

$primary-linear-gradient: linear-gradient(90deg, map-get(map-get($palette, primary), light) 0%, map-get(map-get($palette, primary), dark) 100%);
$background-linear-gradient: linear-gradient(180deg, map-get(map-get($palette, background), light) 0%, map-get(map-get($palette, background), dark) 100%);

$font-family: 'Poppins', sans-serif;

$button-shadow: 0px 4px 8px rgba(map-get(map-get($palette, background), dark), 0.25);

$mediaQuery: (
    default: 0em,
    mobile: 25em,
    mobile-landscape: 41.6875em,
    ipad: 51.25em,
    ipad-landscape: 64em,
    desktop: 91.25em
)
